.login{
    height: 100vh;
    background-image: linear-gradient(#0000007e, #0000007e), url(/public/hero.png);
    padding: 20px 5%;
}
.login-logo{
    width: 90px
}
.login-form{
    width: 100%;
    max-width: 450px;
    background:rgba(0,0,0,0.75);
    padding: 60px;
    border-radius: 10px;
    margin:  auto;
}
.login-form h1{
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600; 
}
.login-form input{
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 500;
}
.login-form input::placeholder{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    gap: 10px;
}
.login-form button{
    width: 100%;
    background: #ff0000;
    color: #ffffff;
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
}
.login-forgot{
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    align-self: center;
    font-weight: 400;

}
.form-help{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 200;
}
.login-remember-forgot{
    display: flex;
    gap: 5px;
}
.login-remember-forgot input{
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.login-signup{
    font-weight: 500;
    cursor: pointer;
}
.para{
    margin: 0 2px 0 auto;
}